.target {
    border: solid 1px #aaa;
    min-height: 200px;
    margin-top: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.save_target {

    min-height: 600px;
}

textarea {
    background-color: white;
}

.active {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, .4);
}

.hidden_text {
    position: absolute;
    top: 10px;
    z-index: 1000;
    left: -10000px;
}
