{% extends "base.html" %}

{% block content %}


<div class="container fluid">
    <div class="row">
        <h1>Quick OCR</h1>
    </div>


    <div class="column">
        <div class="row">
            <div id="to-read" class="span4 target active"></div>
        </div>
        <br>
        <div class="row">
            <form id="form-read"
                  hx-post="{% url 'read'%}"
                  hx-target='#read-result'>
                <textarea name="read_image" id="read_image" cols="30" rows="2" class="hidden_text" style=""></textarea>

                <button class="btn btn-success form-control" type="submit"> Read Image Text</button>
            </form>
        </div>
    </div>
    <br>


    <br>
    <div class="row">
        <form id="form-save"
              hx-post="{% url 'save'%}"
              hx-target='#save-result'>
            <div id="read-result" class="row"></div>
            <textarea name="save_image" id="save_image" cols="30" rows="2" class="hidden_text" style=""></textarea>
            <br>
            <select class="form-select" aria-label="Default select example" name="folder" placeholder="Pasta">
                <option selected>Pasta</option>
                <option value="TSC1">TSC1</option>
                <option value="TSC2">TSC2</option>
                <option value="TSC3">TSC3</option>
                <option value="TSC4">TSC4</option>
                <option value="TSC5">TSC5</option>
                <option value="P1">P1</option>
            </select>
            <br>
            <input class="form-control type" name="details" type="text" placeholder="Detalhes">
            <br>
            <button class="btn btn-success form-control" type="submit" data-bs-toggle="modal" data-bs-target="#resultModal"> Save Image and Text</button>
            <br>
            <div class="row">
                <div id="to-save" class="save_target target"></div>
            </div>
        </form>
    </div>

    <br>


    <br>
    <br>
    <br>
    <br>

</div>

<!-- Modal -->
<div class="modal fade" id="resultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Imagem salva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="save-result" class="row"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
